<div class="container">
  <div class="wrapper col-md-8 col-offset-2 col-sm-10 col-lg-8">
    <p><%= notice %></p>
    <h1>投稿一覧</h1>
    <%= link_to "トピックを投稿する", new_topic_path, class: 'btn btn-default' %>
    <% @topics.each do |topic| %>
    <div>
      <div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 img img-profile">
          <%= profile_img(topic.user) if profile_img(topic.user) %>
        </div>
        <div class="align-left">
          <%= link_to relationship_path(topic.user) do %>
            <%= topic.user.name %>
          <% end %>が投稿しました。
        </div>
      </div>
      <div class="clear align-right">
        <%= link_to topic_path(topic) do %>
          <h4><strong><%= topic.title %></strong></h4>
        <% end %>
        <div class="img"><%= image_tag(topic.topic_img) %></div>
        <p><%= topic.content %></p>
        <%= link_to "", edit_topic_path(topic.id), class: "fa fa-pencil-square-o fa-lg" %>
        <%= link_to "", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: "fa fa-trash-o fa-lg" %>
      </div>
    </div>
    <% end %>
  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id ="move-page-top">▲</a></p>
  </div>
</div>
