<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% unless current_user.id == user.id %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <%= profile_img(user) %><br>
        <%= link_to relationship_path(user) do %>
          <%= user.name %>
        <% end %><br>
        <%= link_to "メッセージ", conversations_path(sender_id: current_user.id, recipient_id: user.id),method: 'post' %>
        <%= render 'follow_form', user: user %>
      </div>
    <% end %>
  <% end %>
</div>
